.time {
    font-size: 35px;
    color: #fff;
    margin: 0 20px;
}

.chips {
    padding-bottom: 20px;
    margin-top: 20px;
}

ion-chip {
    font-size: 25px;
}

.footer {
    padding-bottom: 60px;
}

.slog {
    color: #fff;
}

img {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
}

h3 {
    margin: 20px 0;
}