<ion-content>
  <div class="content">
    <p>На следующем экране вам будут даны 50 частей слов</p>
    <p>На каждое слово нужно будет придумать три ярких ассоциации</p>
    <p>Слово ассоциация должно начинаться с предложенной частью слова и может быть просто созвучным</p>
    <p>После каждой новой ассоциации, <u><b>жмите на карточку</b></u> со словом чтобы отметить прогресс</p>
    <p>Как только вы пройдете 80% и более слов, станет доступным режим обучения итальянских слов</p>

    <h4>Пример слова:</h4>

    <ion-card [ngClass]="{
      step1: step === 1,
      step2: step === 2,
      step3: step === 3
    }" (click)="make()">
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h3>Ар</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <p>Возможные ассоциации:
      <span [ngClass]="{step1: step > 0}"><b>ОР</b>ангутанг</span>,
      <span [ngClass]="{step2: step > 1}"><b>АР</b>балет</span>,
      <span [ngClass]="{step3: step > 2}"><b>АР</b>ахис</span>
    </p>

    <div class="ion-text-center">
      <ion-button (click)="start()">Начать тренировку</ion-button>
    </div>
  </div>
</ion-content>
