.content {
    padding: 15px;
}

p {
    margin-top: 0;
}

.step1 {
    background-color: #dc3545;
}

.step2 {
    background-color: #ffc107;
}

.step3 {
    background-color: #28a745;
}

.click {
    position: absolute;
    top: -10px;
    right: 0;
    width: 40px;
}

.option {
    padding: 5px 0;
    border-radius: 4px;
    display: inline-block;
}

.option--active {
    padding: 5px 7px;
    color: #fff;
}