<ion-content>
  <div class="content">

    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div>
          <h4>Инструктаж видео 1/3</h4>
          <video controls src="../../assets/video/magic1.mp4" type="video/mp4"></video>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <h4>Инструктаж видео 2/3</h4>
          <video controls src="../../assets/video/magic2.mp4" type="video/mp4"></video>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <h4>Инструктаж видео 3/3</h4>
          <video controls src="../../assets/video/magic3.mp4" type="video/mp4"></video>
        </div>
      </ion-slide>
    </ion-slides>

    <p>На следующем экране вам будут даны 50 частей слов</p>
    <p>На каждое слово нужно будет придумать три ярких ассоциации</p>
    <p>Слово ассоциация должно начинаться с предложенной частью слова и может быть просто созвучным</p>
    <p>После каждой новой ассоциации, <u><b>жмите на карточку</b></u> со словом чтобы отметить прогресс</p>
    <p>Как только вы пройдете 80% и более слов, станет доступным режим обучения итальянских слов</p>

    <h4>Пример слова:</h4>

    <ion-card [ngClass]="{
      step1: step === 1,
      step2: step === 2,
      step3: step === 3
    }" (click)="make()">
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h3>Ар</h3>
          <img src="https://media3.giphy.com/media/KecDcIs9qrqennrxGQ/source.gif" class="click" />
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <p>
      Возможные ассоциации:
      <span class="option" [ngClass]="{step1: step > 0, 'option--active': step > 0}"><b>ОР</b>ангутанг</span>,
      <span class="option" [ngClass]="{step2: step > 1, 'option--active': step > 1}"><b>АР</b>балет</span>,
      <span class="option" [ngClass]="{step3: step > 2, 'option--active': step > 2}"><b>АР</b>ахис</span>
    </p>

    <div class="ion-text-center">
      <ion-button (click)="start()">Cominciamo! Начать тренировку</ion-button>
    </div>
  </div>
</ion-content>
