<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Тренировка</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <p class="ion-text-center">{{wordsCount-words.length}}/{{wordsCount}}</p>

    <ng-container>
      <ion-card [ngClass]="{
        step1: words[wordIndex].step === 1,
        step2: words[wordIndex].step === 2,
        step3: words[wordIndex].step === 3
      }" class="started" (click)="make()">
        <ion-card-header>
          <ion-card-title class="ion-text-center">{{words[wordIndex].word}}</ion-card-title>
        </ion-card-header>
      </ion-card>

      <div class="ion-text-center">
        <ion-button (click)="next()">Пропустить</ion-button>
        <ion-button *ngIf="showEnd" (click)="finish()">Закончить</ion-button>
      </div>
    </ng-container>
  </div>
</ion-content>
